* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: #edeef6;
  padding: 50px 0;
}
#cart_item {
  position: relative;
}
#eye_detail {
  position: absolute;
  top: 10px;
  left: 50%;
  opacity: 0;
  font-size: 30px;
  transition: 0.5s;
}
#cart_item:hover #eye_detail {
  opacity: 1;
}
